RewriteEngine On

# Redirect /admin to /login (internally, it will serve login.php without showing it)
RewriteCond %{REQUEST_URI} ^/admin/?$ [NC]
RewriteRule ^admin/?$ /admin/login.php?pages=login [L,QSA]