RewriteEngine On
RewriteBase /

# Rewrite rules for the sidebar menu

# Rewrite /dashboard to the actual file path
RewriteRule ^dashboard$ ../dashboard/dashboard.php?page=dashboard [L,QSA]

# Rewrite /officials to the actual file path
RewriteRule ^officials$ ../officials/officials.php?page=officials [L,QSA]

# Rewrite /household to the actual file path
RewriteRule ^household$ ../household/household.php?page=household [L,QSA]

# Rewrite /resident to the actual file path
RewriteRule ^resident$ ../resident/resident.php?page=resident [L,QSA]

# Rewrite /brgyclearance to the actual file path
RewriteRule ^brgyclearance$ ../brgyclearance/brgyclearance.php?page=brgyclearance [L,QSA]

# Rewrite /certofresidency to the actual file path
RewriteRule ^certofresidency$ ../certofresidency/certofres.php?page=certofresidency [L,QSA]

# Rewrite /certofindigency to the actual file path
RewriteRule ^certofindigency$ ../certofindigency/certofindigency.php?page=certofindigency [L,QSA]
